In [1]:
import numpy as np
import pandas as pd

In [17]:
data1 = [
    [10, 20, 30, 40, 50], 
    [100, 200, 300, 400, 500], 
    [1000, 2000, 3000, 4000, 5000]
]
col1=['c1','c2','c3','c4','c5']
df1=pd.DataFrame(data1, columns=col1, index=index1)
index1 = ['r1','r2','r3']
df1

      c1    c2    c3    c4    c5
r1    10    20    30    40    50
r2   100   200   300   400   500
r3  1000  2000  3000  4000  5000

In [23]:
#딕셔너리로 데이터프레임 생성 / 딕셔너리의 이름이 col의 이름이 됩니다
data2 = {
    'c1':[10, 100, 1000],
    'c2':[20, 200, 2000],
    'c3':[30, 300, 3000],
    'c4':[40, 400, 4000],
    'c5':[50, 500, 5000]    
}
index2 = ['r1','r2','r3']
df2 = pd.DataFrame(data2, index=index2)
df2

      c1    c2    c3    c4    c5
r1    10    20    30    40    50
r2   100   200   300   400   500
r3  1000  2000  3000  4000  5000